.flex {
    padding: 10px;
    border: #808080 solid 1px;
    display: flex;
    justify-content: space-between;
}

.flex2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.href {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.title {
    border-bottom: 1px solid #808080;
}