.href {
    color: #000;
    text-decoration: none;
    font-size: 1.4rem;
}

.hrefLink {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    text-decoration: none;
    background-color: #faebd7;
    width: 10em;
    height: 4em;
    font-size: 1.4rem;
    border-radius: 10px;
}

.div {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #000;
    font-weight: bold;
    margin: 20px;
    width: 180px;
    height: 90px;
    cursor: pointer;
}